.ad_content_banner {
    min-height: 1px;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
}

.columns #amasty-shopby-product-list {
    margin-top: 63px;
}

.ad_content_banner .main-banner {
    height: 395px;
    display: table;
    width: 1094px;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #fff), color-stop(48%, #fff), color-stop(48%, #c9e6a9), color-stop(50%, #c9e6a9), color-stop(50%, #9dcc69), color-stop(100%, #9dcc69));
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.catalog-category-view .page-main .columns .cat-right .column.main .main-subcat > div:hover {
    border: none;
    box-shadow: none;
}

.catalog-category-view .page-main .columns .cat-right .column.main .main-subcat > div::after {

    content: '';
}

.list-category {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    min-height: 523px;
}

.main-category {
    width: 50%;
    float: left;
    padding: 76px 0px 70px 50px;
    max-width: 267px;
}

.main-category .text {
    z-index: 9;
    position: relative;
}

.main-category h2 {
    font-weight: 700;
    font-size: 22px;
    color: #333;

}

.view-hometext-mobile {
    display: none;
}

.main-category ul {
    padding: 20px 0;
    list-style: none;
}

.main-category li {
    font-size: 16px;
    color: #666;
    width: 252px;
    height: 42px;
}

.main-category .btn {
    background-color: #008600;
}

.btn.btn-xl {
    padding: 10px 15px;
}

a.btn {
    text-decoration: none;
    color: #fff;
}

.main-category img {
    max-height: 450px;
    position: absolute;
    max-width: 296px;
    top: 16px;
    left: 330px;
}

.ad_content_banner .mhmr .head {
    font-size: 18px;
    margin-bottom: 15px;
}

.ad_content_banner .mhmr {
    float: left;
    margin: 106px 0px 0px 387px;
    height: 100%;
}

.mhmr .head a {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}

.mhmr .head a:hover {
    text-decoration: underline;

}

.usp .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-check:before {
    content: "\f00c";
    font-size: 20px;
    color: #fff;
    float: left;
    display: inline-block;
    margin-right: 11px;
    display: table;
}

.fa-angle-rights:before {
    content: "\f105";
    color: #0a0a0a;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 15px;
    font-size: 20px;
}

.row:before {
    display: table;
}

.row:after {
    clear: both;
}

.mhmr .row.usp {
    margin: 0 0 17px 0;
}

.mhmr .usp-head {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

.ad_related_pro {
    margin: 18px 0px 0px 0px;
    display: table;
    width: 1110px !important;
}

.main-subcat .cat-img {
    background: #fff;
    border-radius: 4px;
    padding: 6px;
    margin: -10px 0 -10px -10px;
    overflow: hidden;
    float: left;
    height: 102px;
    width: 129px;
}

.ad_related_pro_below {
    margin: 30px 0px 0px 0px;
    display: table;
    width: 1430px
}

.raleted_pro_general .raleted_pro_detailds .panel-body {
    padding: 0px;
}

.ad_related_pro .raleted_pro_general .raleted_pro_detailds {
    float: left;
    width: 31%;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    transition: all 0.3s;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    padding: 15px;
    max-height: 112px;
}

.ad_content_banner .main-subcat {
    margin-top: 0;
}

.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    transition: all 0.3s;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    padding: 15px;
    position: relative;
    max-height: 143px;
    margin: 0px 0px 20px 0px;
}

.raleted_pro_general_below .theme-cat-group .col-sm-3 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.ad_related_pro_below .raleted_pro_general_below .theme-cat-group > :nth-child(4n+1) {
    clear: both;
}

.ad_related_pro .raleted_pro_general .raleted_pro_detailds:hover {
    border: 1px solid #ccc;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 10%);
}

.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds:hover {
    border: 1px solid #ccc;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 10%);
}

.ad_related_pro .raleted_pro_general > .raleted_pro_detailds:nth-child(1) {
    margin: 0px 15px 0px 0px;
    position: relative;
}

.ad_related_pro .raleted_pro_general > .raleted_pro_detailds:nth-child(2) {
    margin: 0px 15px 0px 15px;
    position: relative;
}

.ad_related_pro .raleted_pro_general > .raleted_pro_detailds:nth-child(3) {
    margin: 0px 0px 0px 17px;
    position: relative;
}

.ad_related_pro .raleted_pro_general .raleted_pro_detailds .cat-img {
    float: left;
}

.ad_related_pro .raleted_pro_general .raleted_pro_detailds .cat-img img {
    max-width: 90px;
    width: 100%;
    margin: 0px 30px 0px 0px;
}

.ad_related_pro .raleted_pro_general .raleted_pro_detailds .sub-info .name {
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.ad_related_pro .raleted_pro_general .raleted_pro_detailds .sub-info .sub-caption {
    color: #666;
    font-size: 16px;
}

.ad_related_pro .raleted_pro_general .raleted_pro_detailds .sub-info .sub-caption ul {
    list-style: none;
}

.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds .cat-img {
    float: left;
    min-width: 90px;
    min-height: 90px;
}

.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds .cat-img img {
    max-width: 90px;
    width: 100%;
    margin: 0px 30px 0px 0px;
}

.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds .sub-info .name {
    font-size: 16px;
    color: #333;
    font-weight: 700;
    display: block;
    min-height: 44px;
}

.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds .sub-info .sub-caption {
    color: #666;
    font-size: 16px;
}

.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds .sub-info .sub-caption ul {
    list-style: none;
}

.col-xs-12 .title {
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 700;
}

.hidden {
    display: none !important;
}

.container .items .heading-tabs .item.title {
    width: auto;
    line-height: 20px;
    height: 50px;
    border: 1px solid #eaeaea;
    float: left;
    margin: 20px 0px 20px 5px;
    height: 40px;
}

.container .items .heading-tabs .item.title:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
    top: 205px;
    right: -35px;
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
    top: 205px;
    left: -35px;
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons div.lft-btn,
.owl-theme .owl-controls .owl-buttons div.rgt-btn {
    display: inline-block;
    float: left;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    z-index: 11;
    background: #fff;
    border: 1px solid #999;
    cursor: pointer;
    color: #0a0a0a;
    line-height: 64px;
}

.grey {
    background: #fafafa;
}
.o-list {
    padding-right: 14px;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    min-height: 500px;
    border: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}

.owl-carousel .owl-wrapper-outer {
    width: 1303px;
}

.owl-carousel .owl-wrapper {
    height: 525px;
}

.heading-tabs .item {
    color: #333;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 14px;
    font-weight: 400;
    min-height: 42px;
}

.amasty-shopby-product-list .container {
    min-width: 1430px;
}

.heading-tabs .item.title.active:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.page-footer .footer-document {
    border-top: none;
}

.heading-tabs a:hover,
.heading-tabs a:focus {
    color: black;
}

.heading-tabs {
    display: table;
    margin: 0px auto;
}

.heading-tabs a {
    display: inline-block;
    color: #333;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 3px;
    font-size: 14px;
    font-weight: 400;
}

.heading-tabs .item.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    border-color: #8c8c8c !important;

}
.container.related{
    margin-top: 60px;
}

.list-product {
    clear: both;
}

.list-product product-item-info.owl-item {
    border: 1px solid #eaeaea;
}

.list-product .owl-item:hover {
    border: 1px solid #ccc !important;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 10%);
    margin-bottom: -1px;
    z-index: 2;
}

.owl-item .hbr-inner .product-item-info .round-number {
    position: absolute;
    right: 10px;
    top: 20px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background: #fff;
    text-align: center;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    border: 1px solid #bbb;
    z-index: 10000;
}

.hometext h2 {
    font-size: 18px;
    margin-top: 20px;
}

.hometext p {
    color: #666;
}

.hometext ul {
    color: #666;
    margin-bottom: 5px;
}

.clear {
    clear: both;
}
.product-item-inner .product.description{
    color: #666;
}
.short-description ul li:before{
    content: "\f105";
    font-family: Font Awesome\ 5 Pro;
    display: inline-block;
    margin-left: -16px;
    width: 16px;
    font-size: 11px;
}
.short-description ul {
    list-style: none;
}
.short-description{
    margin-left: -18px;
}
/*responsive*/
@media (min-width: 991px) and (max-width: 1210px){
    .theme-cat-group .col-sm-3 {
        width: 50%;
    }
    .ad_content_banner .main-banner{
        width: 100%;
        min-height: 397px;
    }
    .main-category li {
        width: 250px;
        height: 26px
    }
    .main-category {
        padding: 75px 0px 70px 36px;
    }
    .ad_content_banner .mhmr {
        margin: -252px 0px 0px 462px;
    }
    .ad_content_banner .mhmr .head{
        width: 75%;
    }
    .main-category img{
        max-height: 323px;
        max-width: 205px;
        top: 141px;
        left: 303px;
    }
    .col-xs-12.col-md-8.col-lg-9.cat-right{
        padding-left: 0 !important;
    }
    body .page-wrapper .page-main .container {
        margin-top: 30px;
        width: 100%;
    }
    .ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds{
        height: 114px;
    }
    .owl-carousel .owl-wrapper-outer{
        width: 100%
    }
    .ad_related_pro_below {
        width: 100%;
    }
    .ad_related_pro .raleted_pro_general > .raleted_pro_detailds:nth-child(3){
        display: none;
    }
    .ad_related_pro .raleted_pro_general > .raleted_pro_detailds:nth-child(1) {
        margin: 0px;
    }
    .ad_related_pro .raleted_pro_general > .raleted_pro_detailds:nth-child(2) {
        margin: 0px 0 0px 15px;
    }
    .mhmr .usp{
        margin: 0 0 17px 0;
    }
    .ad_related_pro {
        width: 100% !important;
    }
    .ad_related_pro .raleted_pro_general .raleted_pro_detailds {
        width: 49%;
    }
    .owl-theme .owl-controls .owl-buttons div.owl-prev {
        top: 205px;
        left: -35px;
        position: absolute;
    }

    .owl-theme .owl-controls .owl-buttons div.owl-next {
        top: 205px;
        right: -35px;
        position: absolute;
    }
    }
@media (min-width: 768px) and (max-width: 990pX) {
    .view-hometext-mobile {
        display: block;
    }
    .container-home{
        display: none;
    }
    .theme-cat-group .col-sm-3 {
        width: 100%;
    }
    .col-xs-12.col-md-8.col-lg-9.cat-right {
        display: none;
    }

    .list-category {
        width: 100%;
        max-width: 100%;
        min-height: auto;
        margin-right: 0px;
    }

    .list-category .fa-bars:before {
        content: "";
    }

    #amasty-shopby-product-list {
        width: 100%;
    }

    .ad_related_pro_below {
        width: 100%;
    }

    .ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds {
        max-height: 114px;
        background: white;
    }

    .owl-carousel .owl-wrapper-outer {
        width: 100%;
    }

    body .page-wrapper .page-main .container {
        width: 100%;
        margin-top: 29px;
    }

    .list-category > .o-list {
        display: block;
        max-width: 100%;
        position: inherit;
        margin: 0px;
    }

    .product-filters strong {
        margin-bottom: 0 !important;
    }

    .container.related {
        margin-top: 100px;
    }
}

@media (max-width: 767px) {
    .view-hometext-mobile {
        display: table;
    }

    .content-below {
        display: none;
    }

    .ad_content_banner .ad_related_pro .raleted_pro_general .raleted_pro_detailds {
        width: 100%;
        margin: 0px 0px 20px 0px;
    }

    .ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds {
        width: 100%;
        margin: 0px 0px 20px 0px;
    }

    .container .items .heading-tabs .item.title {
        color: #333;
        border-color: #8c8c8c;
        width: 46%;
        margin: 0px 5px 10px 5px;
        float: left;
        background: #fff;
        border-radius: 3px;
        position: relative;
    }

    .container .items .heading-tabs .item.title:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    .container .items .heading-tabs .item.title.active {
        background-color: #d4d4d4;
    }

    .container .items .heading-tabs .item.title .switch {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0px;
        max-width: 100px;
        width: 100%;
        text-align: center;
    }

    .product.data.items .item.title a:after {
        display: none;
    }

    .ad_content_banner .main-banner {
        display: none;
    }

    .heading-tabs {
        padding: 0px 15px;
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .col-xs-12.col-md-8.col-lg-9.cat-right {
        display: none;
    }

    .list-category {
        width: 100%;
        max-width: 100%;
        min-height: auto;
        margin-right: 0px;
    }

    .list-category .fa-bars:before {
        content: "";
    }

    #amasty-shopby-product-list {
        width: 100%;
    }

    .ad_related_pro_below {
        width: 100%;
    }

    .ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds {
        max-height: 114px;
        background: white;
    }

    .owl-carousel .owl-wrapper-outer {
        width: 100%;
    }

    body .page-wrapper .page-main .container {
        width: 100%;
        margin-top: 29px;
    }

    .list-category > .o-list {
        display: block;
        max-width: 100%;
        position: inherit;
        margin: 0px;
    }

    .product-filters strong {
        margin-bottom: 0 !important;
    }

    .container.related {
        margin-top: 100px;
    }
}

@media (max-width: 479px) {
    .col-xs-12.col-md-8.col-lg-9.cat-right {
        display: none;
    }

    .list-category {
        width: 100%;
        max-width: 100%;
        min-height: auto;
    }

    .list-category .fa-bars:before {
        content: "";
    }

    #amasty-shopby-product-list {
        width: 100%;
    }

    .ad_related_pro_below {
        width: 100%;
    }

    .ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds {
        max-height: 114px;
        background: white;
    }

    .owl-carousel .owl-wrapper-outer {
        width: 100%;
    }

    body .page-wrapper .page-main .container {
        width: 100%;
        margin-top: 29px;
    }

    .list-category > .o-list {
        display: block;
        max-width: 100%;
        position: inherit;
        margin: 0px;
    }

    .product-filters strong {
        margin-bottom: 0 !important;
    }

    .container.related {
        margin-top: 100px;
    }

}

/*end responsive*/
