.ad_content_banner {
    min-height: 1px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    position: relative;
}

.ad_content_banner .main-banner {
    height: auto;
    display: table;
    width: 100%;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #fff), color-stop(48%, #fff), color-stop(48%, #c9e6a9), color-stop(50%, #c9e6a9), color-stop(50%, #9dcc69), color-stop(100%, #9dcc69));
    overflow: hidden;
    position: relative;
}

.main-category {
    width: 50%;
    float: left;
    padding: 76px 0px 70px 50px;
    max-width: 267px;
}

.main-category .text {
    z-index: 9;
    position: relative;
}

.main-category h2 {
    font-weight: 700;
    font-size: 22px;
    color: #333;

}

.main-category ul {
    padding: 20px 0;
    list-style: none;
}

.main-category li {
    font-size: 16px;
    color: #666;
}

.main-category .btn {
    background-color: #008600;
}

.btn.btn-xl {
    padding: 10px 15px;
}

a.btn {
    text-decoration: none;
    color: #fff;
}

.main-category img {
    max-height: 320px;
    right: 785px;
    position: absolute;
    max-width: 284px;
    top: 132px;
}

.ad_content_banner .mhmr .head {
    font-size: 18px;
    margin-bottom: 15px;
}

.ad_content_banner .mhmr {
    float: left;
    margin: 106px 0px 0px 387px;
    height: 100%;
}
.mhmr .head a {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}
.mhmr .head a:hover {
    text-decoration: underline;

}
.mhmr .usp:before {
    content: "\f00c";
    font-family: Font Awesome\ 5 Pro;
    font-size: 20px;
    color: #fff;
    float: left;
    display: inline-block;
    margin-right: 11px;
    display: table;
}
.row:before {
    display: table;
}
.row:after{
    clear: both;
}
.mhmr .row.usp {
    margin: 0 0 17px 0;
}
.mhmr .usp-head {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}
.ad_related_pro{
    margin: 20px 0px 0px 0px;
    display: table;
    width: 100%;
}
.ad_related_pro_below{
    margin: 20px 0px 0px 0px;
    display: table;
    width: 100%;
}
.ad_related_pro .raleted_pro_general .raleted_pro_detailds{
    float: left;
    width: 29%;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    transition: all 0.3s;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    padding: 15px;
}
.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds{
    float: left;
    width: 22%;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    transition: all 0.3s;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    padding: 15px;
    margin: 10px 13px 10px 0px;
}
.ad_related_pro_below .raleted_pro_general_below .theme-cat-group>:nth-child(4n+1){
    clear: both;
    margin-right:-20px ;
}

/*.ad_related_pro_below .raleted_pro_general_below .theme-cat-group>:nth-child(n){*/
/*    clear: both;*/
/*}*/


.ad_related_pro .raleted_pro_general .raleted_pro_detailds:hover{
    border: 1px solid #ccc;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 10%);
}
.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds:hover{
    border: 1px solid #ccc;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 10%);
}
.ad_related_pro .raleted_pro_general>.raleted_pro_detailds:nth-child(1){
    margin: 0px 15px 0px 0px;
}
.ad_related_pro .raleted_pro_general>.raleted_pro_detailds:nth-child(2){
    margin: 0px 15px 0px 15px;
}
.ad_related_pro .raleted_pro_general>.raleted_pro_detailds:nth-child(3){
    margin: 0px 0px 0px 19px;
}
.ad_related_pro .raleted_pro_general .raleted_pro_detailds .cat-img{
    float: left;
}
.ad_related_pro .raleted_pro_general .raleted_pro_detailds .cat-img img{
    max-width: 90px;
    width: 100%;
    margin: 0px 30px 0px 0px;
}
.ad_related_pro .raleted_pro_general .raleted_pro_detailds .sub-info .name{
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
.ad_related_pro .raleted_pro_general .raleted_pro_detailds .sub-info .sub-caption{
    color: #666;
    font-size: 16px;
}
.ad_related_pro .raleted_pro_general .raleted_pro_detailds .sub-info .sub-caption ul{
    list-style: none;
}

.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds .cat-img{
    float: left;
}
.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds .cat-img img{
    max-width: 90px;
    width: 100%;
    margin: 0px 30px 0px 0px;
}
.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds .sub-info .name{
    font-size: 16px;
    color: #333;
    font-weight: 700;
    display: block;
    min-height: 44px;
}
.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds .sub-info .sub-caption{
    color: #666;
    font-size: 16px;
}
.ad_related_pro_below .raleted_pro_general_below .raleted_pro_detailds .sub-info .sub-caption ul{
    list-style: none;
}
.col-xs-12 .title{
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 700;
}
.hidden {
    display: none!important;
}
.container .items .heading-tabs .item.title{
    width: auto;
    height: 50px;
    border: 1px solid #eaeaea;
    float: left;
    margin: 20px 0px 20px 5px;
}
.heading-tabs a:hover{
    background: #f5f5f5;
}
.heading-tabs {
    display: table;
    margin: 0px auto;
}
.heading-tabs a{
    display: inline-block;
    color: #333;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 3px;
    font-size: 14px;
    font-weight: 400;
}
.heading-tabs a:hover{
    background: #f5f5f5;
}
.heading-tabs .item.active{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.list-product{
    clear: both;
}
.list-product .owl-item {
    border: 1px solid #eaeaea;
}
.list-product .owl-item:hover{
    border: 1px solid #ccc!important;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 10%);
    margin-bottom: -1px;
    z-index: 2;
}
.hbr-main .hbr-slider .owl-buttons .owl-prev,
.hbr-main .hbr-slider .owl-buttons .owl-next{

}
.hbr-main .hbr-slider .owl-buttons .owl-prev{

}
.hbr-main .hbr-slider .owl-buttons .owl-next{



}
.clear{
    clear: both;
}

