<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="clear_listing_data_source" xsi:type="string">Ecentura\ClearImage\Model\ResourceModel\History\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Ecentura\ClearImage\Model\ResourceModel\History\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ecentura_history_clear_image</argument>
            <argument name="resourceModel" xsi:type="string">Ecentura\ClearImage\Model\ResourceModel\History</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="exampleSayHello" xsi:type="object">Ecentura\ClearImage\Console\ClearImages</item>
            </argument>
        </arguments>
    </type>


</config>